[Desktop Entry]
Name=WeLine
Comment=一个本地的微信聊天记录导出和年度报告应用
Exec=/usr/bin/weline %U
Terminal=false
Type=Application
Icon=weline
StartupWMClass=WeLine
Categories=Utility;
